body{
    background-color: rgb(221, 236, 152);
    background-size:cover ;
   
}
.register{
    
    max-width:500px ;
    border-radius: 30px;
    margin-left: 70px;
    margin-right: 70px;
    background: rgba(120, 103, 131, 0.3);
    padding: 40pt;
    margin-top: 100pt;
    color: rgb(22, 21, 19);

}

::placeholder{
    color: white;
}
.register h2{
    text-align: center;
    color: black;
}

input[type=text],input[type=number],input[type=email],input[type=date],input[type=textarea],select,option,d{
    width: 100%;
    box-sizing:border-box;
    padding: 5px;
    border-radius: 20px;
    background:lightgrey;
}

input[type="submit"],input[type="reset"]{
color: white;
clear: left;
margin: 20px 0 0 230px;
background-color: rgb(161, 22, 22);
text-align: center;
border: none;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;

}